<section class="section is-book-demo"
         id="{{ default "section-book-demo" .id }}"
         {{ with .background_color }}
         {{ if not (eq . "default") }}
         style="background-color: {{ . }}"
         {{ end }}
         {{ end }}
>
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-form">
        <div class="is-title-wrapper">
          <h1 class="title is-section-title">{{ default .title (T .title) }}</h1>
          {{ with .body }}
          <div class="body">{{ default . (T .) | markdownify }}</div>
          {{ end }}
        </div>
        {{ partial "common/form" (merge site.Data.common.demo_form.form (default (dict) .form)) }}
      </div>

      {{ if .figure }}
      <div class="column is-image">
        <figure class="image">
          {{ $bgColor := .background_color }}
          {{ if or (not .background_color) (eq .background_color "default") }}
          {{ $bgColor = "#66cccc" }}
          {{ end }}
          {{ $bgColor = default $bgColor .figure_background_color }}
          {{ partial "common/srcset" (dict "resource" (resources.Get .figure) "desktop" "1920x" "tablet" "1280x" "mobile" "750x" "options" (print "jpg " $bgColor)) }}
        </figure>
      </div>
      {{ end }}

      {{ with .paragraphs }}
      <div class="column is-paragraph">
        {{ range . }}
        {{ with .icon_svg }}
        <div class="icon-svg">{{ (resources.Get .).Content | safeHTML }}</div>
        {{ end }}
        {{ with .title }}
        <div class="title">{{ . }}</div>
        {{ end }}
        {{ with .content }}
        <div class="content">{{ . | markdownify }}</div>
        {{ end }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
