<section class="section is-feature-columns">
  <div class="container">
    {{ with .title }}
    <h1 class="title is-section-title">{{ default . (T .) }}</h1>
    {{ end }}
    {{ with .body }}
    <div class="body">{{ default . (T .) }}</div>
    {{ end }}
    <div class="columns">
      {{ range $idx, $val := .features }}
      <div class="column{{ with .column_class }} {{ . }}{{ end }}">
        <a {{ with .url }}href="{{ . }}"{{ end }}{{ with .target }} target="{{ . }}"{{ end}}>
          <div class="is-feature is-feature-{{ $idx }}">
            <figure class="image">
              {{ $bgColor := .background_color }}
              {{ if or (not .background_color) (eq .background_color "default") }}
              {{ $bgColor = "#f4f4f4" }}
              {{ end }}
              {{ partial "common/srcset" (dict "resource" (resources.Get .figure) "desktop" "540x" "mobile" "420x" "options" (print "jpg " $bgColor)) }}
            </figure>
            <h2 class="title">{{ .title | markdownify }}</h2>
            <div class="body">
              {{ .body | markdownify }}
            </div>
          </div>
        </a>
      </div>
      {{ end }}
    </div>

    {{ with .cta }}
    {{ partial "common/section-cta" . }}
    {{ end }}
  </div>
</section>
