<div class="section is-vibe-foot-contact">
  <div class="container">
    <div class="level">
      {{ with $.foot.contact }}
      <div class="level-left">
        <div class="level-item">
          <span class="icon">
            {{ partial "common/mdi" "email-2:20" }}
          </span>
          <a href="{{ .url }}">
            <span>{{ .content }}</span>
          </a>
        </div>
      </div>
      {{ end }}
      {{ with $.foot.copyright }}
      <div class="level-item is-copyright">
        <div>
          {{ range . }}
          {{ if (reflect.IsMap .) }}
          <span>
            <a {{ if $.foot_in_lp }} href="{{ .url }}" {{ else }} href="{{ .url | relLangURL }}"
              {{ end }}>{{ T .body }}</a>
          </span>
          {{ else }}
          <span>{{ T . }}</span>
          {{ end }}
          {{ end }}
        </div>
      </div>
      {{ end }}
      <div class="level-right">
        <div class="level-item is-social">
          {{ range $.foot.socials }}
          <a href="{{ .url }}" target="_blank">
            <span class="icon">
              {{ partial "common/mdi" .icon }}
            </span>
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>