<footer>
  {{ if not .Params.foot_contact_bar_only }}
  <div class="section is-vibe-foot">
    <div class="container about">
      <div class="columns">
        <div class="column is-one-third">
          <figure class="image is-foot-logo">
            {{ $src := resources.Get "img/common/foot-icon.svg" }}
            {{ $src.Content | safeHTML }}
          </figure>
        </div>
        <div class="column">
          <div class="columns is-links is-mobile is-multiline">
            {{ range .Site.Data.common.foot.sections }}
            <div class="column is-half-mobile is-foot-section">
              <h2 class="is-vibe-heading">{{ .heading }}</h2>
              {{ range .links }}
              <div class="foot-link">
                <a href="{{ .url | absURL }}"
                   {{ with .target }}target="{{ . }}"{{ end }}
                   {{ with .class }}class="{{ . }}"{{ end }}>
                  {{ .title}}
                </a>
              </div>
              {{ end }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  <div class="section is-vibe-foot-contact">
    <div class="container">
      <div class="foot-contact">
        <div class="is-left">
          <div>
            <a href="tel:+1-864-335-2007" target="_blank">
              <span class="icon">
                {{ partial "common/mdi" "phone" }}
              </span>
              <span>+1 (864) 335-2007</span>
            </a>
          </div>
          <div>&copy; Copyright 2020 Vibe Inc.</div>
        </div>
        <div class="is-right">
          <a href="https://twitter.com/thevibeboard" target="_blank">
            <span class="icon is-medium">
              {{ partial "common/mdi" "twitter:24" }}
            </span>
          </a>
          <a href="https://fb.me/thevibeus" target="_blank">
            <span class="icon is-medium">
              {{ partial "common/mdi" "facebook:24" }}
            </span>
          </a>
          <a href="https://medium.com/vibe-team" target="_blank">
            <span class="icon is-medium">
              {{ partial "common/mdi" "medium:24" }}
            </span>
          </a>
          <a href="https://www.linkedin.com/company/vibe-inc" target="_blank">
            <span class="icon is-medium">
              {{ partial "common/mdi" "linkedin:24" }}
            </span>
          </a>
          <a href="https://www.instagram.com/the.vibe.board/" target="_blank">
            <span class="icon is-medium">
              {{ partial "common/mdi" "instagram:24" }}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
