<footer>
  {{ if not .Params.foot_contact_bar_only }}
  <div class="section is-vibe-foot">
    <div class="container about">
      <div class="columns">
        <div class="column is-one-third">
          <figure class="image is-foot-logo">
            {{ $src := resources.Get "img/common/foot-icon.svg" }}
            {{ $src.Content | safeHTML }}
          </figure>
        </div>
        <div class="column">
          <div class="columns is-links is-mobile is-multiline">
            {{ range .Site.Data.common.foot.sections }}
            <div class="column is-half-touch is-foot-section">
              <h2 class="is-vibe-heading">{{ .heading }}</h2>
              {{ range .links }}
              <div class="foot-link">
                <a href="{{ .url }}"
                   {{ with .target }}target="{{ . }}"{{ end }}
                   {{ with .class }}class="{{ . }}"{{ end }}>
                  {{ .title}}
                </a>
              </div>
              {{ end }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  <div class="section is-vibe-foot-contact">
    <div class="container">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <span class="icon">
              {{ partial "common/mdi" "phone" }}
            </span>
            <a href="tel:+1-864-335-2007" target="_blank">
              <span>+1 (864) 335-2007</span>
            </a>
          </div>
        </div>
        <div class="level-item is-copyright">
          <div><span>© Copyright 2020 Vibe, Inc.</span> <span>All rights reserved.</span></div>
        </div>
        <div class="level-right">
          <div class="level-item is-social">
          {{ range .Site.Data.common.foot.socials }}
            <a href="{{ .url }}" target="_blank">
              <span class="icon">
                {{ partial "common/mdi" .icon }}
              </span>
            </a>
          {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
