<h1 class="title">{{ default .title (T .title) }}</h1>
{{ $method := default "POST" .method }}
<form class="form is-vibe-form" method="{{ $method }}" action="{{ .action }}">
  {{ range .controls }}
  <div class="columns">
    {{ range . }}
    <div class="column{{ with .column_class }} {{ . }}{{ end }}">
      <div class="control{{ if .annotation }} annotated{{ end }}">
        {{ if .dropdown }}
        <div class="select is-fullwidth">
          <select class="placeholder" name="{{ .name }}">
            <option value="" disabled selected hidden>{{ default .placeholder (T .placeholder) }}</option>
            {{ range .dropdown }}
            <option>{{ . }}</option>
            {{ end }}
          </select>
        </div>
        {{ else if eq .type "textarea" }}
        <textarea name="{{ .name }}"
                  class="textarea{{ with .class }} {{ . }}{{ end }}"
                  placeholder="{{ default .placeholder (T .placeholder) }}"
                  {{ if .required }}required{{ end }}
                  ></textarea>
        {{ else }}
        {{ $type := default "input" .type }}
        {{ $class := default "input" .class }}
        <input name="{{ .name }}"
               class="{{ $class }}"
               type="{{ $type }}"
               placeholder="{{ default .placeholder (T .placeholder) }}"
               value="{{ .value }}"
               {{ if .required }}required{{ end }}
               />
        {{ end }}

        {{ with .annotation }}
          <div class="annotation-icon">
            {{ (resources.Get .icon).Content | safeHTML }}
          </div>
          <div class="annotation-content">
            {{ range .content }}
            {{ if .text }}
            <div class="annotation-text">
              {{ .text }}
            </div>
            {{else if .figure}}
            <div class="annotation-figure">
              <figure class="image">
                {{ partial "common/srcset" (dict "resource" (resources.Get .figure) "desktop" "1280x" "tablet" "960x" "mobile" "750x" "options" "jpg") }}
              </figure>
            </div>
            {{ end }}
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }}
  <div class="privacy">
    Read our <a href="/privacy/" target="_blank">Privacy Policy</a>
  </div>

  <div class="columns is-buttons">
    {{ range .buttons }}
    <div class="column">
      {{ $type := default "input" .type }}
      {{ $class := default "input" .class }}
      <div class="control">
        <button class="{{ $class }}"
                type="{{ $type }}"
                id="{{ .id }}"
                placeholder="{{ default .placeholder (T .placeholder) }}"
                data-name="{{ .name }}">
          {{ default .title (T .title) }}
        </button>
      </div>
    </div>
    {{ end }}
  </div>

  {{ with .submitted }}
  <div class="submitted">
    {{ with .title }}
    <h2 class="title">{{ default . (T .) }}</h2>
    {{ end }}
    <div class="content">
      {{ default .body (T .body) | markdownify }}
    </div>
  </div>
  {{ end }}

  {{ range $key, $value := .hidden_values }}
  <input type="hidden" name="{{ $key }}" value="{{ $value }}"></input>
  {{ end }}
</form>
