<section class="section is-hardware-features">
  <div class="container">
    <h1 class="title is-section-title">{{ .title }}</h1>
    <figure class="image is-hidden-mobile">
      {{ partial "common/srcset" (dict "resource" (resources.Get .figure) "options" "jpg") }}
    </figure>
    <figure class="image is-hidden-tablet">
      {{ partial "common/srcset" (dict "resource" (resources.Get .figure_mobile) "options" "jpg") }}
    </figure>
    <div class="is-feature-list is-hidden-tablet">
      {{ range $idx, $val := .features }}
      <div class="is-feature is-feature-{{ $idx }}">
        <div class="title" data-idx="{{ add $idx 1 }}">{{ default .title ( T .title ) }}</div>
        <div class="body {{ if .body_mobile }} is-hidden-mobile {{ end }}">{{ default .body ( T .body ) }}</div>
        {{ if .body_mobile }}
          <div class="body is-hidden-tablet">{{ default .body_mobile ( T .body_mobile ) }}</div> 
        {{ end }}
      </div>
      {{ end }}
    </div>
    {{ with .cta }}
    {{ partial "common/section-cta" . }}
    {{ end }}
  </div>
</section>