<section class="hero is-vibe{{ if .Params.is_hero_fullheight }} is-fullheight-with-navbar{{ end }}{{ with .Params.hero_class }} {{ . }}{{ end }}"
         {{ with .Params.hero_background }}style="background: {{ . }}"{{ end }}>
  <div class="hero-body">
<!--    todo 这个背景为最新的文件夹的首张图片-->
<!--    todo .Content 为最新文章的title-->
    <div class="container" style="background: url(/blog/hero.png) no-repeat 240px -0px">
      <div class="columns is-vcentered">
        <div class="column is-half is-content">
          <div class="content has-vibe-heading">{{ .Content }}</div>
        </div>
        {{ with .Resources.GetMatch "hero.jpg" }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
