<nav
  class="navbar is-fixed-top is-transparent"
  role="navigation"
  aria-label="main navigation"
>
  {{ partial "common/template-script" (dict "targetPath" "js/common/nav.js" "asset" "js/common/nav.template.js") }}
  <div class="container is-fluid">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ "/" | absURL }}">
        {{ $src := resources.Get "img/common/vibe-brand.svg" }}
        {{ $src.Content | safeHTML }}
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nav-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="nav-menu" class="navbar-menu">
      <div class="navbar-start">
        {{ range .Site.Data.common.nav.menu }}
          {{ if .submenu }}
            <div class="navbar-item has-dropdown is-hoverable">
              <span class="navbar-link">{{ .title }}</span>
            {{ range .submenu }}
            <a class="navbar-item"
               href="{{ .url | absURL }}"
               {{ with .target }}target="{{ . }}"{{ end }}>
              {{ .title }}
            </a>
            {{ end }}
            </div>
          {{ else }}
          <a class="navbar-item" href="{{ .url | absURL }}">{{ .title }}</a>
          {{ end }}
        {{ end }}
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {{ range .Site.Data.common.nav.extra }}
            <a class="button {{ .class }}"
               href="{{ .url | absURL }}"
               {{ with .target }}target="{{ . }}"{{ end }}
               {{ range .data }}
               data-{{ .key }}="{{ .value }}"
               {{ end }}
              >
              {{ with .icon }}
              <span class="icon{{ with .class }} {{ . }} {{ end }}">
                {{ with .mdi }}
                {{ partial "common/mdi" . }}
                {{ end }}
              </span>
              {{ end }}
              <span>{{ .title }}</span>
            </a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

{{ partial "common/iframe-modal" (dict "targetPath" "js/common/nav-modal.js" "iframeModalId" "request-demo-modal" "triggerClass" ".request-demo-trigger") }}
