{{ $navData := merge .Site.Data.common.nav.base (default (dict) (index .Site.Data.common.nav .Site.Language.Lang)) }}
{{ $nav := merge $navData (default (dict) .Params.navbar) }}

<nav
  class="navbar is-transparent{{ if not .Params.noFixedNavbar }} is-fixed-top{{ end }}"
  role="navigation"
  aria-label="main navigation"
>
  {{ partial "common/template-script" (dict "asset" "js/common/nav.template.js") }}
  <div class="container is-fluid">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ "/" | relLangURL }}">
        {{ $src := resources.Get (cond (eq .Site.Language.Lang "zh") "img/common/vize-brand.svg" "img/common/vibe-brand.svg" ) }}
        {{ $src.Content | safeHTML }}
      </a>
      <div class="navbar-brand-buttons">
        {{ range $nav.extra }}
        {{ if .in_brand_mobile }}
        {{ partial "common/nav-extra-button" . }}
        {{ end }}
        {{ end }}

        {{ if $nav.menu }}
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nav-menu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
        {{ end }}
      </div>
    </div>
    <div id="nav-menu" class="navbar-menu">
      <div class="navbar-start">
        {{ range $nav.menu }}
          {{ if .submenu }}
            <!-- tabIndex="0" makes the element focusable otherwise dropdown does not show up in iPad. -->
            <div tabIndex="0" class="navbar-item has-dropdown is-hoverable">
              <span class="navbar-link">{{ T .title }}</span>
              <div class="navbar-dropdown is-boxed">
                {{ range .submenu }}
                <a class="navbar-item"
                   href="{{ .url | relLangURL }}"
                   {{ with .target }}target="{{ . }}"{{ end }}>
                  {{ T .title }}
                </a>
                {{ end }}
              </div>
            </div>
          {{ else }}
          <a class="navbar-item" href="{{ .url | relLangURL }}">{{ T .title }}</a>
          {{ end }}
        {{ end }}
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {{ range $nav.extra }}
            {{ partial "common/nav-extra-button" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
