{{ $srcset := slice }}
{{ $sizes := slice }}
{{ $default := .resource }}

{{ if .mobile }}
  {{ $mobile := .resource.Resize (print .mobile " " .options) | resources.Fingerprint }}
  {{ $srcset = $srcset | append (print $mobile.RelPermalink " " $mobile.Width "w") }}
  {{ $sizes = $sizes | append (print "(max-width: 768px)" " " $mobile.Width "px") }}
  {{ $default = $mobile }}
{{ end }}
{{ if .tablet }}
  {{ $tablet := .resource.Resize (print .tablet " " .options) | resources.Fingerprint }}
  {{ $srcset = $srcset | append (print $tablet.RelPermalink " " $tablet.Width "w") }}
  {{ $sizes = $sizes | append (print "(max-width: 768px)" " " $tablet.Width "px") }}
  {{ $default = $tablet }}
{{ end }}
{{ if .desktop }}
  {{ $desktop := .resource.Resize (print .desktop " " .options) | resources.Fingerprint }}
  {{ $srcset = $srcset | append (print $desktop.RelPermalink " " $desktop.Width "w") }}
  {{ $sizes = $sizes | append (print "(max-width: 768px)" " " $desktop.Width "px") }}
  {{ $default = $desktop }}
{{ end }}
<img setset="{{ delimit $srcset "," }}"
     sizes="{{ delimit $sizes "," }}"
     src="{{ $default.RelPermalink }}"
     alt="{{ .resource.Name }}" />
