{{ $srcset := slice }}
{{ $sizes := slice }}
{{ $default := .resource }}

{{ if .mobile }}
  {{ $img := .resource }}
  {{ if gt (int .resource.Width) (int (strings.TrimRight "x" .mobile)) }}
    {{ $img = .resource.Resize (print .mobile " " .options) | resources.Fingerprint }}
  {{ else }}
    {{ $img = .resource.Resize (print .resource.Width "x " .options) | resources.Fingerprint }}
  {{ end }}

  {{ $srcset = $srcset | append (print $img.RelPermalink " " $img.Width "w") }}
  {{ $sizes = $sizes | append (print "(max-width: 680px)" " " $img.Width "px") }}
  {{ $default = $img }}
{{ end }}

{{ if .tablet }}
  {{ $img := .resource }}
  {{ if gt (int .resource.Width) (int (strings.TrimRight "x" .tablet)) }}
    {{ $img = .resource.Resize (print .tablet " " .options) | resources.Fingerprint }}
  {{ else }}
    {{ $img = .resource.Resize (print .resource.Width "x " .options) | resources.Fingerprint }}
  {{ end }}

  {{ $srcset = $srcset | append (print $img.RelPermalink " " $img.Width "w") }}
  {{ $sizes = $sizes | append (print "(max-width: 1024px)" " " $img.Width "px") }}
  {{ $default = $img }}
{{ end }}

{{ if .desktop }}
  {{ $img := .resource }}
  {{ if gt (int .resource.Width) (int (strings.TrimRight "x" .desktop)) }}
    {{ $img = .resource.Resize (print .desktop " " .options) | resources.Fingerprint }}
  {{ else }}
    {{ $img = .resource.Resize (print .resource.Width "x " .options) | resources.Fingerprint }}
  {{ end }}

  {{ $srcset = $srcset | append (print $img.RelPermalink " " $img.Width "w") }}
  {{ $sizes = $sizes | append (print $img.Width "px") }}
  {{ $default = $img }}
{{ end }}

<img srcset="{{ delimit $srcset "," }}"
     sizes="{{ delimit $sizes "," }}"
     src="{{ $default.RelPermalink }}"
     alt="{{ default .resource.Name .alt }}" />
