<section class="section is-video-hero"
         {{ with .styles.section }}
         style="{{ range $k, $v := . }}{{ $k }}: {{ $v }};{{ end }}"
         {{ end }}>
  <div class="container">
    <div class="video-hero-bg">
      {{ (resources.Get "img/common/outline-logo.svg").Content | safeHTML }}
    </div>
    {{ with .title }}
    <h1 class="title is-section-title">{{ default . (T .) }}</h1>
    {{ end }}
    {{ with .subtitle }}
    <h2 class="subtitle is-section-title">{{ default . (T .) }}</h2>
    {{ end }}
    {{ with .body }}
    <div class="content is-body">
      {{ default . (T .) | markdownify }}
    </div>
    {{ end }}
    {{ with .video }}
    <div class="video-launcher" data-target="hero-video">
      <figure class="image" id="hero-video">
        {{ if .preview }}
        <div class="preview">
          <video autoplay loop muted playsinline>
            {{ $src := resources.Get .preview | resources.Fingerprint }}
            <source src="{{ $src.RelPermalink }}" type="video/mp4">
          </video>
          <div class="mask">
            <figure class="image is-mask-play">
              {{ (resources.Get "img/common/video-preview-play.svg").Content | safeHTML }}
            </figure>
          </div>
        </div>
        {{ else if .placeholder }}
        {{ partial "common/srcset" (dict "resource" (resources.Get .placeholder) "desktop" "2380x" "tablet" "1440x" "mobile" "750x" "options" "jpg") }}
        {{ end }}
        {{ if .isVideoJS }}
        <video id="hero-video-player" class="video-js vjs-fluid" controls preload="auto" playsinline>
          <source src="{{ .url }}" type="video/mp4" />
          <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
        {{ else }}
        <div id="hero-video-iframe"></div>
        {{ end }}
      </figure>
    </div>
    {{ if .isVideoJS }}
    {{ partial "common/video-player" (dict "playerId" "hero-video" "triggerClass" ".video-launcher" "isInplace" true "isVideoJS" true) }}
    {{ else }}
    {{ partial "common/video-player" (dict "playerId" "hero-video" "videoId" .id "triggerClass" ".video-launcher" "isInplace" true "isVideoJS" false) }}
    {{ end }}

    {{ end }}
    {{ with .share_buttons }}
    {{ partial "common/share-buttons" . }}
    {{ end }}
    {{ with .footnote }}
    <div class="content is-footnote">
      {{ default .text (T .text) | markdownify }}
    </div>
    {{ end }}
    {{ with .cta }}
    <div class="cta">
      <a class="button is-medium{{ with .class }} {{ . }}{{ end }}"
         href="{{ default "/demo/" .url }}"
         {{ with .target }}data-target="{{ . }}"{{ end }}
         >
        {{ default .title (T .title) }}
      </a>
    </div>
    {{ end }}
  </div>
</section>
