<!DOCTYPE html>
<html lang="en" {{ if not .Page.Params.noFixedNavbar }}class="has-navbar-fixed-top"{{ end }}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {{ $description := default .Site.Params.defaultDescription .Page.Description }}
    <meta name="description" content="{{ $description }}">
    <meta name="facebook-domain-verification" content="u9idis4nm6gr7fnu4owhext701gk7p" />
    {{ block "extraMetas" . }}{{ end }}
    {{ $pageTitle := cond (hasPrefix .Page.Title "i18n-") (T .Page.Title) .Page.Title }}
    <title>{{ default "Vibe" $pageTitle }} | Vibe</title>
    <link rel="canonical" href="{{ .Page.Permalink }}"/>
    {{ if or (not .Site.Params.allowIndex) .Page.Params.noIndex }}<meta name="robots" content="noindex">{{ end }}
    {{ $src := resources.Get "img/common/favicon.png" | resources.Fingerprint }}
    <link rel="shortcut icon" href="{{ $src.RelPermalink }}" />
    {{ if not .Page.Params.notIncludeMDB }}
      <!-- place above stylesPath -->
      <style>
        {{ (resources.Get "css/common/mdb.min.css").Content | safeCSS }}
      </style>
      {{ $src := resources.Get "js/common/mdb.min.js" | resources.Fingerprint }}
      <script type="text/javascript" src="{{ $src.RelPermalink }}" integrity="{{ $src.Data.Integrity }}"></script>
    {{ end }}
    {{ with $.Param "stylesPath" }}
      {{ $sass := resources.Get . }}
      {{ $style := $sass | resources.ToCSS (dict "outputStyle" "compressed" "includePaths" (slice "node_modules" "assets/css/common")) }}
      <style>
        {{ $style.Content | safeCSS }}
      </style>
    {{ end }}
    {{ $firaSansRegular := dict "fontFamily" "Fira Sans" "localNames" (slice "Fira Sans Regular") "ttf" "fonts/common/FiraSans-Regular.ttf" }}
    {{ $firaSansMedium := dict "fontFamily" "Fira Sans" "localNames" (slice "Fira Sans Medium") "ttf" "fonts/common/FiraSans-Medium.ttf" "fontWeight" "500" }}
    {{ $firaSansItalic := dict "fontFamily" "Fira Sans" "fontStyle" "italic" "localNames" (slice "Fira Sans Italic") "ttf" "fonts/common/FiraSans-Italic.ttf" }}
    {{ $firaSansMediumItalic := dict "fontFamily" "Fira Sans" "fontStyle" "italic" "localNames" (slice "Fira Sans Medium Italic") "ttf" "fonts/common/FiraSans-MediumItalic.ttf" "fontWeight" "500" }}
    {{ $stratosRegular := dict "fontFamily" "Stratos" "localNames" (slice "Stratos Regular") "ttf" "fonts/common/stratosweb-regular.woff" }}
    {{ $stratosSemibold := dict "fontFamily" "Stratos" "localNames" (slice "Stratos Semibold") "ttf" "fonts/common/stratosweb-semibold.woff" "fontWeight" "500" }}
    {{ partial "common/font" (slice $firaSansRegular $firaSansMedium $firaSansItalic $firaSansMediumItalic $stratosRegular $stratosSemibold) }}
    {{ block "stylesheets" . }}{{ end }}
    {{ block "scripts" . }}{{ end }}
  </head>
  <body class="{{ with .Site.Language.Lang }}lang-{{ . }}{{ end }}">
    {{ block "nav" . }}
      <!-- Add global banner here -->
      <!-- <div class="global-before-nav">
        <p class="cta">
          <a href="/order">
            Treat yourself (or your team) for making it through 2020 with $200 off Vibe boards.
            <br/>
            Ends 11/30, limited quantities. Promo code: <strong>NOVEMBER200</strong> →
          </a>
        </p>
      </div> -->
      <div class="global-before-nav">
        <p class="cta">
          <a href="/remote-collaboration-report">
            We surveyed over 1,000 people about making their home into their new workplace. See what we discovered in the State of Remote Collaboration Report 2021 →
          </a>
        </p>
      </div>
      <!-- End global banner -->
      {{ partial "common/nav.html" . }}
    {{ end }}
    {{ block "main" . }}{{ end }}
    {{ block "foot" . }}{{ partial "common/foot.html" . }}{{ end }}
    {{ block "tips" . }}{{ partial "common/ie-tips.html" . }}{{ end }}
    {{ with .Site.Params.hsId }}
    {{/* partial "common/template-script" (merge (dict "asset" "js/common/GDPR-compliance.js") $.Site.Params) */}}
    {{ end }}
  </body>
</html>
