@charset "utf-8"

// vibe colors
$vibe-black: #111111
$vibe-purple: #6666CC
$vibe-teal: #66CCCC
$vibe-pink: #FF6666
$vibe-yellow: #FFCC00
$vibe-white: #F4F4F4
$vibe-gray: #828282
$vibe-almost-white: #F8F8F8

// vibe fonts
$vibe-family-body: "Fira Sans", BlinkMacSystemFont, -apple-system, "Microsoft YaHei", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$vibe-family-heading: Stratos, BlinkMacSystemFont, -apple-system, "Microsoft YaHei", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

$vibe-bold: 500

// override bulma literal colors
$grey: $vibe-black
$grey-dark: $vibe-black
$grey-darker: $vibe-black

// override bulma derived colors
$primary: $vibe-pink
$info: $vibe-teal
$success: $vibe-teal
$warning: $vibe-yellow
$danger: $vibe-pink
$light: $vibe-white
$dark: $vibe-black
$link: $vibe-black
$link-hover: $vibe-pink

// other customization
$family-primary: $vibe-family-body !default
$family-secondary: $vibe-family-heading !default
$button-family: $vibe-family-heading !default
$navbar-height: 4.125rem !default
$navbar-item-img-max-height: 36px
$navbar-item-hover-color: $primary
$navbar-dropdown-item-hover-color: $primary
$navbar-dropdown-arrow: $vibe-black
$dimensions: 16 24 32 48 64 96 128 256
$tablet: 700px !default
$title-family: $vibe-family-heading !default
$title-weight: $vibe-bold !default
$subtitle-family: $vibe-family-heading !default
$subtitle-weight: $vibe-bold !default
$navbar-breakpoint: 1080px

@import 'bulma/bulma.sass'

@function px-to-rem($px)
  @return ($px/16) * 1rem

@import './_mixins.sass'
@import './_font.sass'
@import './_foot.sass'
@import './_form.sass'
@import './_nav.sass'
@import './_global-before-nav.sass'
@import './_ie-tips.sass'

div#hs-eu-cookie-confirmation
  position: relative
  .modal-close
    position: absolute
    &::before
      background-color: black
      height: 1px
    &::after
      background-color: black
      width: 1px
  div#hs-eu-cookie-confirmation-inner#hs-eu-cookie-confirmation-inner
    +mobile
      padding: 20px!important
    a[href="https://vibe.us/privacy/"]
      &, &:hover
        text-decoration: underline!important
        color: #33475b!important
    #hs-en-cookie-confirmation-buttons-area > [role="button"]
      border-radius: 9999px!important
      width: 100px!important
      text-align: center!important
      &#hs-eu-decline-button
        display: none
    #hs-eu-cookie-disclaimer
      display: none
ul.icon-list
  list-style: none
  span
    position: absolute
    left: 0
  li
    margin-left: 24px

html
  &.gdpr-enabled
    .is-hidden-eu
      display: none!important
  &:not(.gdpr-enabled)
    .is-hidden-non-eu
      display: none!important


.modal.is-video-player
  .modal-content
    *:focus
      outline: none
    +tablet
      width: 640px
      .video-js, iframe
        width: 640px
        height: 360px
    +desktop
      width: 800px
      .video-js, iframe
        width: 800px
        height: 450px
    +mobile
      width: 320px
      .video-js, iframe
        width: 320px
        height: 180px

.modal.is-iframe-modal
  .modal-content
    background-color: #fff
    border-radius: 8px
    width: 800px
    height: 690px
    padding: 0
    overflow: hidden

    iframe
      overflow: hidden

    +mobile
      padding: 1rem
      height: 620px
      width: 95vw

.share-buttons
  .share-copy-link
    position: relative
    .link-input
      position: absolute
      z-index: -1
    .icon
      transform: rotate(-45deg)
    p
      font-size: 14px
      position: absolute
      width: 80px
      text-align: center
      left: 50%
      margin-top: 8px
      margin-left: -40px
      display: none
    &.copied
      p
        display: block
  .icon
    width: 42px
    height: 42px
    border: 2px solid $vibe-black
    border-radius: 50%
  a:hover .icon
    border-color: $primary
    svg
      fill: $primary

// remove extra padding top and bottom added by MDBootstrap...
.navbar
  padding-top: 0
  padding-bottom: 0

// make hubspot chat box lower so social buttons can be clicked.
#hubspot-messages-iframe-container
  z-index: 100 !important

// override mdb
hr
  opacity: 1
  &, &:not([size])
    height: 2px

img, svg
  vertical-align: baseline