@charset "utf-8"

$body-family: "Fira Sans", sans-serif
$navbar-height: 4rem
$navbar-item-img-max-height: 2.25rem
$navbar-background-color: rgba(255, 255, 255, 0.95)
$dimensions: 16 24 32 48 64 96 128 256
$info: #143ff1
$danger: #ff7680
$text: #24374e
$text-strong: #24374e
$title-color: #24374e
$subtitle-color: #24374e
$subtitle-strong-color: #24374e
$navbar-item-color: #24374e
$navbar-item-hover-color: #0052f1
$navbar-item-active-color: #24374e
$navbar-dropdown-item-hover-color: #0052f1
$link: #24374e
$link-hover: #0052f1

@import 'bulma/bulma.sass'

@import './_font.sass'
@import './_foot.sass'
@import './_mixins.sass'
@import './_nav.sass'
@import './_space.sass'
