@import "_section-cta.sass"
@import "_comparison-table-in-brief"
@import "_comparison-table-in-detail"

.section.is-compare
  +vertical-padding(120px)
  .container
    max-width: 928px
  .title
    font-size: 48px
    text-align: center
    margin-bottom: 100px
    +tablet-only
      margin-bottom: 80px
    +mobile
      font-size: 30px
      margin-bottom: 40px

