.content.has-vibe-heading
  h1, h2, h3
    font-family: $vibe-title-font-family
    font-weight: $vibe-title-font-weight

.is-vibe-heading
  font-family: $vibe-title-font-family
  font-weight: $vibe-title-font-weight
