.section.is-vibe-foot
  border-top: 2px solid #cfcfcf
  padding-top: 6.67rem
  padding-bottom: 4.167rem

  +mobile
    .columns.is-links
      padding-top: 1.5rem

.image.is-foot-logo
  width: 162px
  height: 46px
  margin-top: -(46px / 2 - 18px / 2)

  +mobile
    width: 122px

.column.is-foot-section
  font-size: 0.9167rem

  h2
    font-size: 1rem
    margin-bottom: 2rem

    +mobile
      margin-bottom: 1.389rem

