.section.is-vibe-foot
  padding: 8rem 3rem
  background: white

  > .container
    max-width: 1200px

  +mobile
    .columns.is-links
      padding-top: 1.5rem

  .image.is-foot-logo
    margin-top: -28px

    +mobile
      margin-top: 1rem

  .column.is-foot-section
    min-width: 140px
    font-size: px-to-rem(18)

    .foot-link
      margin-bottom: 1.2rem

    h2
      font-size: px-to-rem(24)
      margin-bottom: 2rem

      +mobile
        margin-bottom: 1.389rem

.section.is-vibe-foot-contact
  border-top: 1px solid #F2F2F2
  padding: 25px 3rem

  > .container
    max-width: 1200px

  .foot-contact
    display: flex
    justify-content: space-between

    +mobile
      display: block

    .is-left
      display: flex
      align-items: center
      color: #505F71
      fill: #505F71
      a
        color: #505F71
        display: flex
        align-items: center
      > div:first-child
        margin-right: 2rem

      @media screen and (max-width: 480px)
        display: block
        div:first-child
          margin-bottom: 1rem

    .is-right
      text-align: right
      a
        fill: #B3B3B3
        &:hover
          fill: $link-hover

        &:not(:first-child)
          margin-left: 0.5rem

      +mobile
        text-align: left
        margin-top: 3rem





