.is-ie-tips
    display: none
    position: fixed
    bottom: 0
    background-color: $vibe-gray
    width: 100%
    text-align: center
    font-size: 24px
    color: white
    +vertical-padding(24px)
    font-weight: $vibe-bold
    .content
        display: flex
        text-align: left
        align-items: center
        .is-left
            max-width: 1192px
        .is-right
            margin-left: 96px
            vertical-align: middle
            height: 58px
            width: 58px

    &.is-active
        display: block