.navbar
  font-family: $vibe-family-heading
  font-size: 18px
  box-shadow: 0px -1px 10px rgba(55, 55, 55, 0.1)

  .container.is-fluid
    padding: 0 40px
    +from(1600px)
      max-width: 1600px - 40px * 2
      padding: 0
    +until($navbar-breakpoint)
      padding: 0

  // show button on navbar-brand so that it is visible on mobile.
  .navbar-brand
    justify-content: space-between

  .navbar-brand-buttons
    display: flex
    align-items: center
    .button
      &:not(:first-child)
        margin-left: 12px
      +from($navbar-breakpoint)
        display: none
    .navbar-burger
      width: 48px
      height: 48px
      padding: 0.5rem 0.75rem

  // hide button on menu when it is shown on navbar-brand
  .navbar-menu
    .button.is-in-brand
      +until($navbar-breakpoint)
        display: none

  // move navbar-end button to the right side when navbar is collapsed
  .navbar-end .buttons
    +until($navbar-breakpoint)
      justify-content: flex-end

  .navbar-item.has-dropdown
    outline: none
    &.is-active
      +until($navbar-breakpoint)
        .navbar-dropdown.is-boxed
          display: block
        .navbar-link::after
          transform: rotate(135deg)

  .navbar-item.is-column-title
    text-transform: uppercase
    font-weight: $vibe-bold
    color: #b2b2b2

  // align dropdown text.
  .navbar-dropdown.is-boxed
    left: -24px
    display: none

  +from($navbar-breakpoint)
    // keep brand logo and navbar start (menus) 80px when not collapsed.
    // there are 12px padding on both side so we need to deduct them.
    // Update: we add another top level menu so reduce spacing when there is not enough space.
    +from(1230px)
      .navbar-brand
        margin-right: 40px - 12px
      .navbar-menu
        margin-left: 40px - 12px

      // space betwen menus: 54px.
      // there are 12px padding on both side so we need to deduct them.
      // Update: added a new "Pricing" top leve menu so need to adjust margin...
      .navbar-start > .navbar-item:not(:first-child)
        margin-left: 34px - 12px * 2
        +from(1320px)
          margin-left: 54px - 12px * 2

    // Update: added a new "Pricing" top level menu, reduce padding to avoid navbar overflow.
    +until(1130px)
      .navbar-item, .navbar-link.is-arrowless
        padding-left: 0.5rem
        padding-right: 0.5rem

      .navbar-link:not(.is-arrowless)
        padding-right: 1.25rem
        &::after
          right: 0.125rem

    .navbar-dropdown.is-boxed
      box-shadow: 0px -1px 10px rgba(55, 55, 55, 0.1)
      border-radius: 2px
      margin-top: -12px
      font-size: 16px
      .navbar-item
        padding: 0.75rem 76px 0.75rem 38px
      .columns .navbar-item
        padding: 0.75rem 38px

  .navbar-burger
    background: none
    span
      height: 2px

  .button
    font-size: 18px
    &.is-outlined
      border-width: 2px
    +tablet
      width: 157px
    +mobile
      font-size: 14px

// Special case for position: sticky navbar menu to be scrollable
html.is-clipped
  touch-action: none
  .navbar-menu
    touch-action: auto
    overflow: auto
    -webkit-overflow-scrolling: touch
