.navbar
  font-family: $vibe-family-heading
  font-weight: $vibe-bold
  font-size: 18px
  box-shadow: 0px -1px 10px rgba(55, 55, 55, 0.1)

  .button
    font-size: 18px
    +tablet
      width: 157px
      &.is-try-app
        display: inherit
      &.request-demo-trigger
        display: none
    +mobile
      font-size: 14px
      &.is-try-app
        display: none
      &.request-demo-trigger
        display: inherit

  .container.is-fluid
    padding: 0 40px
    +from(1600px)
      max-width: 1600px - 40px * 2
      padding: 0
    +until($navbar-breakpoint)
      padding: 0

  // show button on navbar-brand so that it is visible on mobile.
  .navbar-brand
    position: relative
    .button.is-in-brand-mobile
      position: absolute
      top: 50%
      right: 64px
      margin-top: -(45px / 2)
      z-index: 1
      +mobile
        margin-top: -(35px / 2)
      +from($navbar-breakpoint)
        display: none

  // hide button on menu when it is shown on navbar-brand
  .navbar-menu
    .button.is-in-brand-mobile
      +until($navbar-breakpoint)
        display: none

  // move navbar-end button to the right side when navbar is collapsed
  .navbar-end .buttons
    +until($navbar-breakpoint)
      justify-content: flex-end

  +from($navbar-breakpoint)
    // keep brand logo and navbar start (menus) 80px when not collapsed.
    // there are 12px padding on both side so we need to deduct them.
    .navbar-brand
      margin-right: 40px - 12px
    .navbar-menu
      margin-left: 40px - 12px

    // space betwen menus: 54px.
    // there are 12px padding on both side so we need to deduct them.
    .navbar-start > .navbar-item:not(:first-child)
      margin-left: 54px - 12px * 2

    .navbar-dropdown.is-boxed
      box-shadow: 0px -1px 10px rgba(55, 55, 55, 0.1)
      border-radius: 2px
      margin-top: -12px
      .navbar-item
        padding: 0.75rem 76px 0.75rem 38px

  .navbar-burger
    background: none
    span
      height: 2px
